body{
    font-family: 'Lato', sans-serif;
    background-color: #f3ebe2;
}

.header{
    padding: 10px 6px;
    
}

.container{
    width: 1350px;
    margin: auto;
    display: flex;
}

.row{
    
    display: flex;
    flex-wrap: wrap;
    padding: 14px 24px;
}

.header_logo{
    width: 45px;
    height: 39px;
}

.logo_support{
    font-weight: 650;
    font-size:larger;
    color: rgb(14, 189, 14);
    margin-top: 6px;
}

.header_nave{
    width: 50px;
    margin-top: 9px;
    margin-left: 325px;
    font-weight: 400;
    font-size: medium;
    margin-right: 20px;;
}

.header_nave a{
    text-decoration: none;
    color: black;
    font-size: 16.45px;
}

.header_nav2{
    display: flex;
    width: 90px;
    margin-top: 9px;
    margin-left: 40px;
    font-weight: 400;
    font-size: medium;
    margin-right: 9px;
}

.header_nav2 a{
    
    text-decoration: none;
    color: black;
    font-size: 16.45px;
}

.header_nave4{
    display: contents;
    width: 90px;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 400;
    font-size: medium;  
}

.header_nave4 a{
    margin-top: 9px;
    text-decoration: none;
    color: black;
    font-size: 16.45px;
}

.header_bott {
    display: contents;
   
}

.header_bott a{
    
    padding: 17px 25px;
    text-decoration: none;
    color: black;
    background-color: rgb(8, 204, 8);
    margin-top: -10px;
    margin-left: 40px;
    border-radius: 27px;
    border-style: solid;
    
}

.header_bott a:hover{
    color: rgb(255, 255, 255);
    background-color: black ;
    
}

.ground-info{
    
    margin-left: 30px;
}